body {
    background-color: #313630;
}

#start,
#resetBtn {
    height: 50px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px 10px;
    border: 2px solid #84e91e;
    font-size: 23px;
    font-weight: 700;
}

#start:hover {
    background: #84e91e;
    color: #e7f1fa;
    border: 2px solid white;
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#info,
#quiz,
#leaderboard {
    height: auto;
    width: 580px;
    padding: 20px;
    background: lightgray;
    border-radius: 30px 20px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    /* display: none; */
}

#info h2 {
    font-size: 60px;
    color: black;
    text-shadow: 0 0 10px #84e91e;
}

#info h4 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
}

#info #button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#info #button button {
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    color: black;
    background: #84e91e;
    border: 2px solid black;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
}

#info #button button:last-child {
    margin: 10px 0;
}


#quiz #quiz-header {
    height: 60px;
    width: 100%;
    background: #fafafc;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
    justify-content: space-between;
}

#quiz #quiz-header h5 {
    font-size: 22px;
    margin: 0 20px;
    color: #84e91e;
}

#quiz #quiz-header #timer {
    height: 50px;
    width: 200px;
    background: #84e91e;
    color: lightgray;
    border: 2px solid #b0cd48;
    font-size: 18px;
    border-radius: 20px 5px;
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    margin-right: 10px;
}

#quiz #quiz-header #timer h6 {
    font-size: 17px;
    display: grid;
    place-items: center;
    color: #fff;
    margin: 0 10px;
}

#quiz #quiz-header #timer #time {
    height: 44px;
    width: 50px;
    background: #fff;
    color: #313630;
    border: 2px solid #b0c4d8;
    border-radius: 15px 7px;
    margin: 2px 0 0 27px;
}

#quiz #question {
    font-size: 24px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#answersSection {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    font-size: 24px;
}

.submit-btn-container {
    width: 580px;
    display: flex;
    justify-content: center;
}

#submit-btn {
    height: 50px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 30px 10px;
    border: 2px solid #84e91e;
    font-size: 23px;
    font-weight: 700;
}

#submit-btn:hover,
#resetBtn:hover {
    background: #84e91e;
    color: #e7f1fa;
    border: 2px solid white;
}

table {
    border-collapse: collapse;
    width: 580px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #ddd;
}

th {
    background-color: gray;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #84e91e;
}

#leaderboard {
    background-color: black;
}

#leaderboard h2 {
    color: #84e91e;
    text-align: center;
    text-decoration: underline #84e91e;
}

#reset-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}